<div
  class="font-display flex flex-col items-center min-h-screen bg-gradient-to-b from-amber-50 to-amber-100"
>

  <app-header></app-header>

  <div *ngIf="mode === 'vs-player'">
    <app-board [board]="board ?? { store1: 0, store2: 0, pils: [[0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0]], turn: 1 }"
           [player1]="player1 ?? 'Player 1'"
           [player2]="player2 ?? 'Player 2'">
    </app-board>

  </div>

  <div *ngIf="mode === 'vs-machine'">
    <h2>Modo Jugador vs Máquina</h2>
    
  </div>

  <div *ngIf="mode === 'machine-vs-machine'">
    <h2>Modo Máquina vs Máquina</h2>
    
  </div>

  <!-- Añadir botones de jugar y reiniciar -->
  <div class="flex space-x-4 atma-font">
   
    <button
      class="bg-amber-900 text-2xl text-white px-4 py-2 rounded-lg shadow-md hover:bg-amber-800 transition-colors"
      (click)="reset()"
    >
      Reiniciar
    </button>
  </div>
</div>
