<div
  class="flex flex-col items-center min-h-screen bg-gradient-to-b from-amber-50 to-amber-100"
>
  <!-- Header Section -->
  <app-header></app-header>

  <!-- Botones-->
  <div class="grid grid-cols-2 gap-4 atma-font mt-6">
    <button
      class="bg-amber-900 text-2xl text-white px-6 py-3 rounded-lg shadow-md hover:bg-amber-800 transition-colors"
      (click)="player_vs_player()"
    >
      Jugador vs Jugador
    </button>
    <button
      class="bg-amber-900 text-2xl text-white px-6 py-3 rounded-lg shadow-md hover:bg-amber-800 transition-colors"
      (click)="player_vs_machine()"
    >
      Maquina vs Jugador
    </button>

    <div class="col-span-2 flex justify-center">
      <button
        class="bg-amber-900 text-2xl text-white px-6 py-3 rounded-lg shadow-md hover:bg-amber-800 transition-colors"
        (click)="machine_vs_machine()"
      >
        Maquina vs Maquina
      </button>
    </div>
  </div>
</div>
