<div
  class="font-display flex flex-col items-center min-h-screen bg-gradient-to-b from-amber-50 to-amber-100"
>
  <!-- Header Section -->
  <app-header>
    <p id="authors" class="text-center text-2xl text-amber-800 space-y-1">
      <span class="font-semibold">Created by:</span>
      <a target="_blank" href="https://github.com/adrianrrruiz"><span class="block hover:text-amber-600 transition-colors">Adrian Ruiz</span></a>
      <a target="_blank" href="https://github.com/Guorti"><span class="block hover:text-amber-600 transition-colors">Gustavo Ortiz</span></a>
      <a target="_blank" href="https://github.com/LV860"><span class="block hover:text-amber-600 transition-colors">Leonardo Velazquez</span></a>
      <a target="_blank" href="https://github.com/iTMG22"><span class="block hover:text-amber-600 transition-colors">Tomas Martinez</span></a>
    </p>
  </app-header>

  <!-- Botones-->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 atma-font mt-6">
    <button
      class="bg-amber-900 text-2xl text-white px-6 py-3 rounded-lg shadow-md hover:bg-amber-800 transition-colors"
      (click)="player_vs_player()"
    >
      👤 Jugador vs Jugador 👤
    </button>
    <button
      class="bg-amber-900 text-2xl text-white px-6 py-3 rounded-lg shadow-md hover:bg-amber-800 transition-colors"
      (click)="player_vs_machine()"
    >
      🤖 Máquina vs Jugador 👤
    </button>

    <div class="col-span-1 md:col-span-2 flex justify-center">
      <button
        class="bg-amber-900 text-2xl text-white px-6 py-3 rounded-lg shadow-md hover:bg-amber-800 transition-colors"
        (click)="machine_vs_machine()"
      >
      🤖 Máquina vs Máquina 🤖
      </button>
    </div>
  </div>
</div>
