@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');

#title {
  font-family: 'Atma', cursive;
  font-weight: 400;
}

#authors {
  font-family: 'Atma', cursive;
  font-weight: 300;
}

.atma-font {
  font-family: 'Atma', cursive;
}
